* {
    border: 1px solid black;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    padding: 0;
}

input {
    width: 10vw;
}

li {
    flex: 1;
    list-style-type: none;
}

.cards {
    display: flex; /* parent to card */
	justify-content: space-around;
	align-items: center;
	/* height: 50vh;
	width: 50vw; */
    margin: 15px;
}

.card {
	width: 100px;
	height: 100px;
	border: 1px solid #000;
	background-color: white;
    margin: 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 100%;
    width: 100%;
}