
.cards {
    display: flex; /* parent to card */
	justify-content: space-around;
	align-items: center;
	height: 50vh;
	width: 50vw;
	flex-wrap: wrap;
}
.card {
	width: 50px;
	height: 50px;
	border: 1px solid #000;
	background-color: white;
    margin: 5px;
}