

body {
    background-color: #53966E;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Cinzel', serif;
}

h1 {
    
    margin: 0;
    font-size: 36pt;
    color: white
}

h2 {
    color: white;
    font-size: 24pt;
    margin:0;

}

.navbar {
    display: flex;
    flex-direction: row;
    padding: 10px;
    color:white;
    background-color:#BF1A2F;
    border-radius: 15px;
}

input {
    width: 10vw;
    border: none;
    border-bottom: 2px solid #FE7401;
    background: transparent;
    
}

li {
    flex: 1;
    list-style-type: none;
    border-radius: 25px;
    letter-spacing: 1px;
    
}

.cards {
    background-color: white;
    display: flex; /* parent to card */
    flex-wrap: wrap;
    justify-content: center;
	height: 675px;
	width: 350px;
    margin: 15px;
    border-radius: 25px;
}

.card {
	width: 100px;
	height: 100px;
	background-color: white;
    margin: 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 1px 1px 1px grey;
}

/* Flips and enlarges card class to add for card enlarge */

.flipCard {
    transform: scale(0.97);
    transition: transform .4s;
    transform: rotateY(180deg);
    position: relative;
    transform: scale(1.2);
    z-index: 999;
}

.matched {
    visibility: hidden;
}

img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

button {
    height: 40px;
    border:none;
    border-radius: 10px;
    background-color: #BF1A2F;
    font-size: 16pt;
    color: white;
    font-family: 'Cinzel', serif;
    letter-spacing: 1px;
    margin: 4px;
}

.leaderbox {
    display: none;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: white;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (min-width: 768px) {
    .cards {
        flex-direction: row;
        height: 350px;
        width: 675px;
    }
    .leaderbox {
        display: block;
        align-self: flex-end;
        margin: 20px;
    }
    .leaderbox, .fixed-leaderboard {
        display: block;
        border: 1px solid black;
    }
    .dropdown {
        display: none;
    }
    select {
        display: none;
    }
    footer {
        align-self: flex-start;
    }
}